<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>Resultado</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Resultado</h1>
        <br />

        <div style="display: flex">
          <div>
            <% if(response.position === "horizontal"){ %>
            <div
              style="
                border: teal 2px solid;
                width: 1125px;
                height: 798px;
                padding: 0;
                overflow: none;
              "
            >
              <img
                src="results/img_result.jpg"
                alt="foto-result"
                style="margin: 0; padding: 0"
              />
            </div>
            <% } else { %>
            <div
              style="
                border: teal 2px solid;
                width: 798px;
                height: 1125px;
                padding: 0;
              "
            >
              <img
                src="results/img_result.jpg"
                alt="foto-result"
                style="margin: 0; padding: 0"
              />
            </div>
            <% } %>
          </div>

          <div style="margin-left: 15px">
            <h3>
              Posición de la hoja:
              <span class="infoImagen"><%- response.position %></span>
            </h3>
            <h3>
              Dimensión inicial:
              <span class="infoImagen"
                ><%- response.ancho_inicial %> X <%- response.alto_inicial %>
              </span>
            </h3>
            <h3>
              Dimensión final:
              <span class="infoImagen"
                ><%- response.ancho_final %> X <%- response.alto_final %></span
              >
            </h3>
            <br />
            <% if(response.configurada === true){ %>
            <h3 class="infoImagen">La imagen <span class="enfasis">cambió</span> de tamaño</h3>
            <% } else { %>
            <h3 class="infoImagen">La imagen <span class="enfasis">no cambió</span> de tamaño</h3>
            <% } %>

            <br />
            <a class="botonDefault" href="results/img_result.jpg" download
              >Descargar imagen</a
            >
            <br /><br />
            <a class="botonDefault" href="/">Regresar</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
